<% if @number == true %>
<h1>Mi cuenta es : <%= @number%></h1>
<%else @number == false %>
<h1>Mi cuenta es :<%= 0 %></h1>
<%end %>

<form action="/">
<input type="hidden" value="<%= @number.to_i + 1 %>" name="number">
<input type="submit" value="Suma!!"></input>
</form>
