<% if @number == true %>
<h1><%= @number%></h1>
<%else @number == false %>
<%= 0 %>
<%end %>
<h1>Mi cuenta es : tambien </h1>
<form action="/">
<input type="hidden" name="@number + 1">
<input type="submit" value="Suma!!"></input>
</form>
